.dark-cat {
    background-color: black;
    background-size: cover;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.image-on {
    width: 150px;
}
.catimage {
    width: 150px;
    height: auto;
    
}
.cardswitch {
    height: 150px;
    width: 250px;
    background-color: gray;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    
}
.para {
    color: red;
    font-size: 20px;
    font-family: roboto;
    font-weight: 500;
    text-align: center;
}
.button-on {
    height: 30px;
    width: 90px;
    background-color:red;
    border-radius: 10px;
    border-width: 0px;
    text-align: center;

}
.button-off {
    height: 40px;
    width: 90px;
    margin: 10px;
    padding: 10px;
    
   background-color:green ; 
    border-radius: 10px;
    border-width: 0px;
    text-align: center;
}